<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6">
            <h2>Mariana Bivol</h2>
            <p>Mariana aka Mary is a proud Moldavian makeup artist and female beauty enthusiast with many years of professional experience. </p>
            <p>Mary believes in empowering women through making them beautiful to the point of making their EX’s bite their elbows in despair. <span class="orange"> ♥</span></p>
            <h4>—</h4>
            <h4>Talk to Mary via</h4>
            <ul class="contact-list">
                <li><a target="_blank" href="https://api.whatsapp.com/send?phone=0040775614669">WhatsApp  /</a></li>
                <li><a target="_blank" href="https://urlgeni.us/instagram/MPZi">Instagram /</a></li>
                <li><a href="">Facebook</a></li>
            </ul>  
        </div>
    </div>
</div>
<section id="instagram">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="instagram-wrapper">
            <slider-insta-feed></slider-insta-feed>
            <div class="instagram-box">
                <div class="instagram-cta">
                <span class="instagram-title">Mary's Instagram</span><br/>
                <b>Follow</b> <span class="instagram-address"><a href="https://www.instagram.com/marys_tricks/">@marystricks</a></span>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>