.header {
    padding: 50px 0;

    h2 {
        margin-bottom: 40px;
        font-size: 40px;
        color: $white;
        text-transform: uppercase;

        strong {
            font-weight: 700;
        }
    }

    &.header--about-us {
        background: url('~/images/bg/about-us-bg.jpg') no-repeat left top;
        background-size: cover;
        padding-bottom: 155px;
        position: relative;

        &:after {
            content: "";
            width: 60%;
            height: 10px;
            bottom: -10px;
            left: 20%;
            background: $green;
            position: absolute;
        }
    }

    &.header--brokerage {
        background: url('~/images/bg/brokerage.jpg') no-repeat left top;
        background-size: cover;
        padding-bottom: 155px;
        position: relative;

        &:after {
            content: "";
            width: 60%;
            height: 10px;
            bottom: -10px;
            left: 20%;
            background: $green;
            position: absolute;
        }

        & h2 {
            line-height: 1.35;
            margin-top: 100px;
        }

        & .btn-green {
            margin-top: 50px;
        }
    }

    &.header-crypto {
        background: url('~/images/bg/crypto.jpg') no-repeat left top;
        background-size: cover;
        padding-bottom: 155px;
        position: relative;

        & .btn-green {
            margin: 75px 0 0;
        }

        & h2 {
            margin-top: 75px;
            line-height: 1.4;
        }

        &:after {
            content: "";
            width: 60%;
            height: 10px;
            bottom: -10px;
            left: 20%;
            background: $green;
            position: absolute;
        }
    }

    &.header-startup {
        background: url('~/images/bg/startup.jpg') no-repeat left top;
        background-size: cover;
        padding-bottom: 155px;
        position: relative;

        & .btn-green {
            margin: 75px 0 0;
        }

        & h2 {
            margin-top: 75px;
            line-height: 1.4;
        }

        p {
            color: $white;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        ul li {
            text-align: left;
            color: white;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        &:after {
            content: "";
            width: 60%;
            height: 10px;
            bottom: -10px;
            left: 20%;
            background: $green;
            position: absolute;
        }
    }

    & .logo {
        max-width: 250px;
        height: auto;
    }

    &.header-white {
        background: $white;
        padding-bottom: 0px;
    }

    &.header-existing {
        background: url('~/images/bg/existing-bg.jpg') no-repeat left top;
        background-size: cover;
        padding-bottom: 75px;
        position: relative;

        &:after {
            content: "";
            width: 60%;
            height: 10px;
            bottom: -10px;
            left: 20%;
            background: $green;
            position: absolute;
        }

        & .btn-green {
            margin: 75px 0 0;
        }

        & h2 {
            margin-top: 75px;
            line-height: 1.4;
            font-weight: 600;
        }

        & ul.list--header-presentation {
            max-width: 800px;
            margin: 0 auto;

            & li {
                float: left;
                width: 50%;
                color: $white;
                text-align: left;
                margin-bottom: 10px;
                font-weight: 200;
            }
        }
    }

    &.header-home {
        position: absolute;
        left: calc(50% - 600px);
        top: 0;
        z-index: 10000;
        max-width: 1200px;
    }
}