 body {
    font-family: 'Poppins', sans-serif;
    background: $darker-white;
}

h1 {
    font-size: 46px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: $black;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h2 strong {
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: $black;
}

p em {
    font-size: 16px;
    font-style: italic;
}

.c-green {
    color: $green;
}

.white {
    color: $white;
}

.black {
    color: $black !important;
}

a {
    color: $green;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: $green;
    }
}

.hr-green {
    border-color: $green;
    margin-bottom: 0;
    padding-bottom: 0;
}

.list-no-style {
    list-style: none;
    padding-left: 0;
}

.header-contact {
    float: right;
    margin-top: 20px;
}

.header-contact a {
    color: $white;
    font-weight: 200;
    font-size: 12px;
    margin-left: 5px;
}

.header-white .header-contact a {
    color: $black;
}
