/*
* Custom tabs - overwrite bootsrap tabs
* Slick carousel overwrite
*/


/* =========================================
    Custom tabs - overwrite bootsrap tabs
==========================================*/

.custom--tabs {
    padding: 100px 0;
    &.custom--tabs-no-padding {
        padding: 0 0 30px;
    }
    & h1 {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: calc(50% - 50px);
            bottom: -10px;
            background-color: $green;
            width: 100px;
            height: 5px;
        }
    }

    & .tab-pane .row {
        margin-top: 50px;
    }

    & .custom--tabs-nav {
        list-style: none;
        padding: 0;
        margin: 75px auto 30px;
        max-width: 900px;

        &.custom--tabs-nav {

            & li {
                display: inline-block;
                width: 33%;
                text-align: center;

                &.active{
                    box-shadow: 3px 9px 26px lighten( $black, 80%),
                                -12px -3px 26px lighten( $black, 90%);
                    border-radius: 5px;
                }

                &:hover {
                    box-shadow: 3px 9px 26px lighten( $black, 80%),
                    -12px -3px 26px lighten( $black, 90%);
                    border-radius: 5px;
                }

                &.active:hover {
                    box-shadow: 3px 9px 26px lighten( $black, 80%),
                    -12px -3px 26px lighten( $black, 90%);
                    border-radius: 5px;
                }

                & a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 100px 0;
                    text-decoration: none;
                    color: $black;

                    & h2 {
                        font-weight: 600;
                        font-size: 28px;

                        & img {
                            margin-right: 10px;
                            width: 40px;
                            height: auto;
                        }
                    }

                    & p {
                        text-transform: uppercase;
                        color: $green;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }

        &.custom--tabs-nav-3col {

            & li {
                width: 30%;
                margin-right: 4%;
            }

            & li:last-child {
                margin-right: 0;
            }
        }

        &.custom--tabs-nav-4col {
            max-width: 1170px;
            padding: 0;
            & li {
                width: 23%;
                margin-right: 2%;
                position: relative;

                & a {
                    padding: 55px 0 75px;

                    & img {
                        height: 40px;
                        width: auto;
                    }

                    & h2, & p {
                        text-transform: uppercase;
                        color: $black;
                    }

                    & p {
                        font-weight: 400;
                        color: black;
                        font-size: 24px;
                    }
                }

                &.active{
                    box-shadow: 9px 9px 26px lighten( $black, 60%),
                                -2px -2px 18px lighten( $black, 70%);
                    border-radius: 5px;

                    &:after {
                        content: "";
                        position: absolute;
                        left: calc(50% - 13px);
                        bottom: -73px;
                        height: 26px;
                        width: 26px;
                        background: url("~/images/home/green-arrow.png") no-repeat left top;
                        background-size: 100%;
                    }

                    & img {
                        height: 60px;
                    }

                    & a {
                        padding: 55px 0 75px;
    
                        & img {
                            height: 60px;
                            width: auto;
                        }
    
                        & h2, & p {
                            text-transform: uppercase;
                            color: $black;
                        }
    
                        & p {
                            font-weight: 400;
                            color: $green;
                        }
                    }
                }

                &:hover {
                    box-shadow: 3px 9px 26px lighten( $black, 80%),
                    -12px -3px 26px lighten( $black, 90%);
                    border-radius: 5px;

                    & a {
                        padding: 75px 0;
    
                        & img {
                            height: 40px;
                            width: auto;
                        }
    
                        & h2, & p {
                            text-transform: uppercase;
                            color: $black;
                        }
    
                        & p {
                            font-weight: 400;
                            color: $green;
                        }
                    }
                }

                &.active:hover{
                    box-shadow: 9px 9px 26px lighten( $black, 60%),
                    -2px -2px 18px lighten( $black, 70%);
                    border-radius: 5px;

                    & img {
                        height: 60px;
                    }

                    & a {
                        padding: 55px 0 75px;
    
                        & img {
                            height: 60px;
                            width: auto;
                        }
    
                        & h2, & p {
                            text-transform: uppercase;
                            color: $black;
                        }
    
                        & p {
                            font-weight: 400;
                            color: $green;
                        }
                    }
                }
            }

            & li:last-child {
                margin-right: 0;
            }
        }
    }

    & hr {
        border: none;
        border-bottom: 1px solid $green;
    }

    & h2 strong {
        font-weight: 700;
        text-transform: uppercase;
    }

}

.slick-carousel {
    & .slick-slide {
        position: relative;
    }

    & .description {
        position: absolute;
        max-width: 980px;
        left: calc(50% - 490px);
        top: 250px;
        z-index: 10000;
        width: 100%;
        text-align: center;

        & h2 {
            color: $white;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 40px;
            line-height: 1.25;
    
            strong {
                font-weight: 700;
            }
        }
    
        & ul {
            max-width: 600px;
            margin: 50px auto;
            margin-bottom: 100px;
            & li {
                color: $white;
                font-weight: 300;
                margin-bottom: 10px;
                text-align: left;
                font-size: 16px;
            }
        }

        & ul.inline-30 {
            li {
                display: inline-block;
                width: 30%;
            }
        }
    }
}

/* ====================
        Tooltips
=====================*/

.tooltip {
    background:$white;
    box-shadow: 3px 3px 12px lighten($black, 70%),
                -3px -3px 12px lighten($black, 70%);
                width: 300px;
}

.tooltip > .tooltip-inner {
    background-color:$white; 
    color: $black;
    border: 1px solid $white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.tooltip.in {
    opacity: 1;
}

/* Tooltip on top */
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid $white;
}

/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid $white;
}

.tooltip.bottom .tooltip-arrow {
    margin-top: -5px;
}

.tooltip h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.tooltip ul {
    & li {
        font-size: 12px;
        text-align: left;
        font-weight: 400;
    }
}

/* ====================================
        Instagram feed 
==================================== */

.section-instagram {
    & .gallery-wrapper {
        margin-top: -150px;
        & ul {
            padding: 0;
            list-style: none;
            max-width: 600px;
            margin: 0 auto 0;
    
            & li {
                display: inline-block;
                width: 25%;
            }

            & li:hover {
                & .normal-view span {
                    bottom: -30px;
                    transition: .25s all ease;
                }

                & .insta-preview {
                    top: 0;
                    transition: .25s all ease;
                }
            }
        }

        & .normal-view { 
            overflow: hidden;
            position: relative;

            & .insta-preview {
                transition: .25s all ease;
                width: 150px;
                height: 150px;
                position: absolute;
                top: -150px;
                left: 0;
                background: rgba($blue, .75);
                color: $white;
                text-decoration: none;
                padding: 10px;

                & p {
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 0px;
                    color: $white;
                }

                & .fa {
                    text-align: center;
                    position: absolute;
                    bottom: 15px;
                    left: calc(50% - 6px);
                    color: $green;
                }
            }

            & span {

                & .fa {
                    margin: 0 5px 0 10px;
                    color: $white;
                }

                position: absolute;
                transition: .25s all ease;
                width: 130px;
                left: 10px;
                bottom: 10px;
                background: rgba($green, .85);
                color: $white;
                text-transform: uppercase;
                padding: 5px 0;
                font-size: 10px;
            }
        }
    }
}
