<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Buroka</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bundle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="header header-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="text-center">
            <a href="/"><img src="images/logo-green.png" class="logo" alt=""></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <nav class="main--menu">
            <ul>
                <li><a href="/start-up.html" class="active">Startup</a></li>
                <li><a href="/exiting.html">Existing</a></li>
                <li><a href="/bank.html">Bank</a></li>
                <li><a href="/crypto.html">Crypto</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm-3">
          <nav class="secondary--menu">
            <ul>
              <li><a href="/team.html">Team</a></li>
              <li><a href="/news.html">News</a></li>
              <li><a href="/contact.html" class="active">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <!-- ======================= Consultation form ====================== -->

            <section class="consultation--form">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <h2><strong>Contact Us</strong></h2>
                    <p>We are here to help you.</p>
                    <form action="">
                      <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input type="name" class="form-control" id="name" placeholder="Full Name" required>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="E-mail" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input type="phone" class="form-control" id="phone" placeholder="Phone number" required>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input type="phone" class="form-control" id="company" placeholder="Company" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="checkbox">
                        <label>By submitting this form I agree to the <a href="" class="c-green">Terms & conditions</a></label>
                      </div>
                      <button type="submit" class="btn btn-green">submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </section>

            <!-- ======================= End of consultation form =================== -->
          </div>
        </div>
      </div>
  </header>

  <!-- ===================== Footer =================== -->

  <footer>
    <div class="container">
      <h5>Create and advance your complete, <br>
        <strong>cost-efficient</strong> & <strong> innovative brokerage house</strong></h5>
      <p>Buroka is a trading name of WS International LTD United Arab Emirates.
      </p>
      <div class="row footer-links">
        <div class="col-sm-2 col-xs-12">
          <div class="list">
            <h6>Company</h6>
            <ul>
              <li><a href="">Team</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="list">
            <h6>Products</h6>
            <ul>
              <li><a href="">Startup</a></li>
              <li><a href="">Exiting</a></li>
              <li><a href="">Bank</a></li>
              <li><a href="">Crypto</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-3 col-xs-12">
          <h6>Contact Us</h6>
          <a href=""><img src="images/icons/phone.png" /><i class="fa fa-phone" aria-hidden="true"></i>  4402-312-93755</a>          <br>
          <a href=""><img src="images/icons/email.png" /><i class="fa fa-envelope-o" aria-hidden="true"> </i>  suport@buroka.com</a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <h6>Find Us Here</h6>
          <a href=""><img src="images/icons/location.png" alt=""><i class="fa fa-map-marker" aria-hidden="true"> </i>  708 Jumeirah Lakes Towers, 
                              Dubai, United Arab Emirates
                              </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-privacy">
            <li><a href="">Policy Privacy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="social-icons-footer">
            <li><a href=""><img src="images/social/icon-1.png" alt=""></a></li>
            <li><a href=""><img src="images/social/icon-2.png" alt=""></a></li>
            <li><a href=""><img src="images/social/icon-3.png" alt=""></a></li>
            <li><a href=""><img src="images/social/icon-4.png" alt=""></a></li>
          </ul>
        </div>
      </div>
      <hr style="margin-top: 10px">
      <div class="text-center">
        <img src="images/footer-logo.png" alt="">
      </div>
      <hr>
      <p class="small-terms">
        None of the information on this website comprises public offer. By visiting this website you explicitly agree to collection,
        storage and analysis of your personal data which <br> may include IP address, name, phone number and email
        address.
      </p>
    </div>
  </footer>

  <!-- ===================== End of Footer =================== -->
</body>

</html>