<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Buroka</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bundle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="header header-crypto">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="text-center">
            <a href="/"><img src="images/logo.png" class="logo" alt=""></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <nav class="main--menu">
            <ul>
              <li><a href="/start-up.html" class="active">Startup</a></li>
              <li><a href="/exiting.html">Existing</a></li>
              <li><a href="/bank.html">Bank</a></li>
              <li class="active"><a href="/crypto.html">Crypto</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm-3">
          <nav class="secondary--menu">
            <ul>
              <li><a href="/team.html">Team</a></li>
              <li><a href="/news.html">News</a></li>
              <li><a href="/contact.html">Contact</a></li>
            </ul>
          </nav>
          <div class="header-contact">
            <a href="mailto:suport@buroka.com">support@buroka.tech</a>
            <a href="tel:4420-312-93755">
              <i class="fa fa-phone" aria-hidden="true"></i> 4420-312-93755</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2><strong>Become new age pioneer by starting <br>
                your own Bitcoin brokerage</strong></h2>
            <button class="btn btn-green btn-cta-consultation">Schedule a Consultation</button>
          </div>
        </div>
      </div>
  </header>

  <section class="section-crypto--chart">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Cryptocurrency Market</h2>
          <!-- TradingView Widget BEGIN -->
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
            new TradingView.widget({
              "width": 980,
              "height": 610,
              "symbol": "INDEX:BIT",
              "interval": "D",
              "timezone": "Etc/UTC",
              "theme": "Light",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "allow_symbol_change": true,
              "hideideas": true
            });
          </script>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </section>

  <section class="section-crypto--description">
    <div class="container">
      <h2 class="white text-center">CFD Crypto-Brokerage vs Crypto-Exchanger</h2>
      <h3 class="c-green text-center">Buroka offers you a choice between CFD Crypto-Brokerage and <br> Crypto-Exchanger with physical delivery of cryptocurrency.
      </h3>
      <h3 class="white text-center">
        Each of these solutions cater to different clients - while CFD Crypto-Brokerage is <strong> perfect for <br>
              professional speculators</strong> who seek leverage and advanced trading interface, <br>
        <strong>investors prefer holding physical assets</strong> in their wallets from their Crypto-Exchanger
      </h3>
      <div class="section-crypto--description--table-header">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <h3 class="white">Features and Advantages</h3>
          </div>
          <div class="col-sm-4 col-xs-12">
            <h3 class="white">CFD Crypto-Brokerage</h3>
          </div>
          <div class="col-sm-4 col-xs-12">
            <h3 class="white">Crypto-Exchanger</h3>
          </div>
        </div>
      </div>
      <div class="section-crypto--description--table-subheader">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="white text-center">Trading Technology</h3>
          </div>
        </div>
      </div>
      <div class="section-crypto--description--table-body">
        <div class="row">
          <div class="col-sm-4">
            <p class="white">Trading Interface</p>
            <p class="white">Delivery of the Underlying</p>
            <p class="white">Risk Management</p>
            <p class="white">Margin Trading</p>
          </div>
          <div class="col-sm-4">
            <p class="c-green">xStation</p>
            <p class="c-green">Speculation only</p>
            <p class="c-green">A/B/C book</p>
            <p class="c-green">Leverage up to 1:5</p>
          </div>
          <div class="col-sm-4">
            <p class="white">Buroka.Exchange wallet</p>
            <p class="white">Physical delivery to wallets</p>
            <p class="white">A book only</p>
            <p class="white">No leverage</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="section-quotes">
    <h2 class="text-center">
      Quotes about bitcoin</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-1.jpg" alt="" class="pull-left">
          <h2>Paul Buchheit
          </h2>
          <h6>Creator of Gmail</h6>
          <p>"Bitcoin may be the TCP/IP of money."</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-2.jpg" alt="" class="pull-left">
          <h2>Ben Bernanke
          </h2>
          <h6>Chairman of the Federal Reserve</h6>
          <p>“[Virtual Currencies] may hold long-term promise, particularly if the innovations promote a faster, more secure
            and more efficient payment system.”</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-3.jpg" alt="" class="pull-left">
          <h2>Eric Schmidt
          </h2>
          <h6>CEO of Google</h6>
          <p>"Bitcoin is a remarkable cryptographic achievement and the ability to create something that is not duplicable in
            the digital world has enormous value"</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-4.jpg" alt="" class="pull-left">
          <h2>Janet Yellen
          </h2>
          <h6>Chair of the US Federal Reserve</h6>
          <p>“The Federal Reserve simply does not have authority to supervise or regulate bitcoin in any way”</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-5.jpg" alt="" class="pull-left">
          <h2>Edmund Moy
          </h2>
          <h6>38th Director of the United States Mint</h6>
          <p>“Bitcoin, and the ideas behind it, will be a disrupter to the traditional notions of currency In the end, currency
            will be better for it.”</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="images/quote-6.jpg" alt="" class="pull-left">
          <h2>Warren Buffett
          </h2>
          <h6>CEO of Berkshire Hathaway</h6>
          <p>“Stay away from it. It’s a mirage, basically”</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <br><br>
          <p class="black">Opinions and visions about Bitcoin can differ. Yet, there is clearly no doubt that
            <br> bitcoin is bound to change the nature of money as we know it.</p>
          <br>
          <p class="c-green"> Thus, this may be just the right moment of uncertainty to step in. </p>
        </div>
      </div>
    </div>
  </section>


  <section class="section-green" id="form-consultation">
    <h2 class="text-center white"><strong>Unlock</strong> the full <strong>potential</strong> of <strong>Financial Markets</strong> for your <strong>clients!</strong></h2>
  </section>


  <!-- ======================= Consultation form ====================== -->

  <section class="consultation--form">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Schedule a <strong>Free</strong> Consultation</h2>
            <p>To <strong>schedule</strong> your free consultation, fill out the form below.</p>
            <form action="" id="consultationForm" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone number" required>
              </div>
              <div class="checkbox">
                <label>By submitting this form I agree to the <a href="" class="c-green">Terms & conditions</a></label>
              </div>
              <button type="submit" class="btn btn-green">Schedule a Consultation</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  
  <!-- ======================= End of consultation form =================== -->
  <footer>
    <div class="container">
      <h5>Create and advance your complete,
        <br>
        <strong>cost-efficient</strong> &
        <strong> innovative brokerage house</strong>
      </h5>
      <p>Buroka is a trading name of WS International LTD United Arab Emirates.
      </p>
      <div class="row footer-links">
        <div class="col-sm-2 col-xs-6">
          <div class="list">
            <h6>Company</h6>
            <ul>
              <li>
                <a href="team.html">Team</a>
              </li>
              <li>
                <a href="news.html">News</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-6">
          <div class="list">
            <h6>Products</h6>
            <ul>
              <li>
                <a href="start-up.html">Startup</a>
              </li>
              <li>
                <a href="exiting.html">Exiting</a>
              </li>
              <li>
                <a href="bank.html">Bank</a>
              </li>
              <li>
                <a href="crypto.html">Crypto</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-3 col-xs-12">
          <h6>Contact Us</h6>
          <a href="tel:4420-312-93755">
            <i class="fa fa-phone" aria-hidden="true"></i> 4420-312-93755</a>
          <br>
          <a href="mailto:suport@buroka.com">
            <i class="fa fa-envelope-o" aria-hidden="true"> </i> support@buroka.tech</a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <h6>Find Us Here</h6>
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"> </i> 708 Jumeirah Lakes Towers, Dubai, United Arab Emirates
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-privacy">
            <li>
              <a href="">Policy Privacy</a>
            </li>
            <li>
              <a href="">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="social-icons-footer">
            <li>
              <a href="https://www.facebook.com/burokaexchange/" target="_blank">
                <img src="images/social/icon-1.png" alt="">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/burokatech/" target="_blank">
                <img src="images/social/icon-2.png" alt="">
              </a>
            </li>
            <!-- <li>
              <a href="">
                <img src="images/social/icon-3.png" alt="">
              </a>
            </li> -->
          </ul>
        </div>
      </div>
      <hr style="margin-top: 10px">
      <div class="text-center">
        <a href="/"><img src="images/footer-logo.png" alt=""></a>
      </div>
      <hr>
      <p class="small-terms">
        None of the information on this website comprises public offer. By visiting this website you explicitly agree to collection,
        storage and analysis of your personal data which
        <br> may include IP address, name, phone number and email address.
      </p>
    </div>
  </footer>

    <script type="text/javascript" src="bundle.js"></script>    
    <!-- ===================== End of Footer =================== -->
</body>

</html>